@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ConsultaSystem</h1>
    <p class="lead">Aplicação ASP.NET MVC</p>
    <p><a href="https://github.com/MarcusMiguel/ConsultaSystem" class="btn btn-primary btn-lg">Repositório GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Consultas</h2>
        <p>
            Área que permite o usuario criar, editar, apagar, e ver detalhes de todas as consultas do sistema.
        </p>
        <p><a class="btn btn-default" href="/Consultas">Ir para página&raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pacientes</h2>
        <p>
            Área que permite o usuario criar, editar, apagar, e ver detalhes de todos os pacientes do sistema.
        </p>        <p><a class="btn btn-default" href="/Pacientes">Ir para página &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Exames</h2>
        <p>
            Área que permite o usuario criar, editar, apagar, e ver detalhes de todos os exames do sistema.
        </p>
        <p><a class="btn btn-default" href="/Exames">Ir para página &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Tipos de exames</h2>
        <p>
            Área que permite o usuario criar, editar, apagar, e ver detalhes de todos os pacientes do sistema.
        </p>
        <p><a class="btn btn-default" href="/TiposDeExames">Ir para página &raquo;</a></p>
    </div>
</div>